<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.88.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net452" />
  <package id="NPOI" version="2.3.0" targetFramework="net452" />
  <package id="Open-XML-SDK" version="2.7.2" targetFramework="net452" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net452" />
  <package id="ReactiveProperty" version="3.6.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net452" />
</packages>